.book-item-container {
  background-color : #f5f5f5;
  padding          : 10px;
  margin-bottom    : 10px;
  border-radius    : 5px;
}

@media (min-width: 768px) {
  .buttons-container .btn {
    margin-right : 10px;
  }
}

@media (max-width: 768px) {
  .buttons-container .btn {
    margin-bottom : 10px;
  }
}
